#header {
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
    top: 0%;
    left: 0%;
    font-size: 100px;
    color: white;
    background-color: black;
}
#target {
    background-color: yellow;
    width: 30px;
    height: 28px;
    position: absolute;
}
.score {
    color: white;
    position: absolute;
    font-family: Arial;
}
#black {
    color: white;
    font-family: Arial;
}
#progressBar {
    position: relative;
    left: 45%;
    top: 0%;
}
#widthSlider {
    position: absolute;
    right: 1%;
    top: 0%;
}
#heightSlider {
    position: absolute;
    right: 1%;
    top: 5%;
}
#blackHeight  {
    position: absolute;
    color: white;
    font-family: Arial;
    right: 10%;
    top: 5%;
}
#blackWidth {
    position: absolute;
    color: white;
    font-family: Arial;
    right: 10%;
    top: 0%
}
