#scentence {
    position: absolute;
    top: 50%;
    width: 95vw;
    height: 50vh;
    text-align: center;
    font-size: larger;
}
#wpm {
    position: absolute;
    right: 50%;
}
#characters {
    position: absolute;
}
#scentencetyped {
    position: absolute;
    top: 60%;
    right: 42%;
    text-align: center;
}
